---
title: Welcome
layout: default
---
<div class="post-list">
    {% for post in paginator.posts %}
    
        <a class="post-title" href="{{site.baseurl}}{{post.url}}"><h2>{{ post.title }}</h2></a>
        <p class="date">{{ post.date | date: "%b %-d, %Y" }}</p>
        <p>{{post.excerpt | strip_html}}</p>
    
    {% endfor %}
</div>

<!-- Pagination links -->
<nav>
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">
        <<< 
      </a>
    {% else %}
      <span class="previous"></span>
    {% endif %}
    <span class="page_number ">
      {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next"> >>></a>
    {% else %}
      <span class="next "></span>
    {% endif %}
  </div>
</nav>