---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} - {{site.title}}</title>
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
</head>

<body>
<header>
    <nav>
        <ul>
            <li><a href="{{site.baseurl}}/about">About</a></li>
            <li><a href="{{site.baseurl}}/category">Category</a></li>
            <li><a href="{{site.baseurl}}/tag">Tag</a></li>
            <li><a href="http://travel.hackernextdoor.club/" target="_blank">Travel</a></li>
            <li><a href="https://blog.naver.com/pentester357/" target="_blank">NaverBlog</a></li>
            <li><a href="https://www.youtube.com/channel/UCoa5D3MvXoAKOW2NnY-0IPw" target="_blank">Youtube</a></li>
        </ul>
        <ul>
            <form id="search" action="https://google.com/search" method="get" placeholder="Google 검색" target="_blank">
            <input type="hidden" name="sitesearch" value="https://hackernextdoor.club" />
            <input type="text" name="q" style="background-color:Black; color:White; border-color:#7800FF" />
            <li><a href="#" onclick="document.getElementById('search').submit()">Search</a></li>
            </form>
        </ul>
    </nav>
    <a class="title-a" href="{{site.baseurl}}/"><h1 class="title">{{site.title}}</h1></a>
</header>
      
  
  {{ content }}


<footer>
    <p><small>Copyrights &copy; {{site.time | date: '%Y'}} {{site.title}}</small></p>
    <p><small>&nbsp;&#124;&nbsp;Built with <span>❤</span> by <a href="http://webjeda.com">webjeda</a></small></p>
</footer>
{% include analytics.html %}
</body>
</html>
