---
layout: default
---

<h1>{{page.title}}</h1>

{% assign items = page.categories %}
{% assign default = "uncategorized" %}

{% for item in items %}
{% unless item[0] == default %}
Category: <a href="{{site.baseurl}}/category#{{ item[0]| downcase }}">{{ item[0] }}</a>
{% endunless %}
{% endfor %}

{% assign items = nil %}
{% assign default = nil %}
<br>

{% assign items = page.tags %}
{% assign default = "uncategorized" %}

{% for item in items %}
{% unless item[0] == default %}
Tag: <a href="{{site.baseurl}}/tag#{{ item[0]| downcase }}">{{ item[0] }}</a>
{% endunless %}
{% endfor %}

{% assign items = nil %}
{% assign default = nil %}
<br>

{{content}}

{% include disqus.html %}